Diagnostics:
  Suppress:
    - unknown-warning-option
    - unknown-pragmas
    - multichar
    - format
    - comment
  UnusedIncludes: None
  MissingIncludes: None
CompileFlags:
  Add: [-Wno-multichar, -Wno-format, -Wno-comment, -Wno-invalid-pp-token]
