name: Makefile CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: fedora-latest

    steps:
    - uses: actions/checkout@v4

    - name: Install dependencies
      run: make ready

    - name: Run check
      run: make check
